*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background-color: #7d93e0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    width: 25%;
    border-radius: 10px;
    overflow: hidden;
    text-align: right;
    box-shadow: 7px 7px 7px rgb(0,0,0);
    background-color: white;
    padding: 13px;
}

.display{
    width: 100%;
    height: 20vh;
    background: white;
    color: black ;
}

.input{
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:10px 15px;
}

button{
    border:none;
    border-radius: 50%;
    background-color: white;
    padding: 17px 0px;
    font-size: 22px;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
}

button:hover{
    font-weight: bold;
}

.output{
    font-size: 28px;
    padding: 25px;
}

.result{
    font-size: 18px;
    padding: 25px;
}

/* btn color section */
#col-3{
    background-color: #f08080 ;
}

#col-2{
    background-color: #ffa500;
    font-size: 900;
    font-size: 25px;
}

#col-4{
   background-color: #7d93e0;
}

#col-1{
    border-radius: 100%;
    background-color: #20b2aa ;
}

#col-5{
    background-color: #9477af;
}

@keyframes big{
    0%{
        font-size: 18px;
    }
    100%{
        font-size: 30px;
    }
}

@keyframes small{
    0%{
        font-size: 28px;
    }
    100%{
        font-size: 18px;
    }
}

